*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 48px;
    font-weight: 600;
    
    color: grey;
    background-color: rgba(255, 255, 255, 0.87);
  }
  

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }

 
button,
label {
    cursor: pointer;
    color: blue;
}

input {
    font: inherit;
    width: 300px;
}

textarea {
    width: 300px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list-main {
    margin: 25px;
    padding: 25px;
    list-style-type: none;
    
}

.link-main:hover {
    color: #6C8CFF; 
}

.basket-div {
    padding: 25px;
}